<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My Secrets and Likes</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'secrets_app/css/my_likes.css' %}">
    </head>
    <header>
        <a href='{% url "logout" %}'>Log Out</a>
        <a href='{%url "main" %}'>Back</a>
    </header>
    <body>
    <h1>My Secrets and Liked Secrets</h1>
    <div id="secrets">
     {% for secret in secrets %}
        <p>{{secret.content}}</p>
        <p>({{secret.created_at|date:"F d, Y, f A"}})</p>
        <p>{{secret.likes.count}} likes</p>
            {% if secret in liked %}
                <p>You already liked this post</p>
            {% else %}
                <a href='/like/{{secret.id}}'>Like</a>
            {% endif %}
            {% if secret.secret_user.id == user %}
            <form action='/delete/{{secret.id}}' method='POST'>
                {% csrf_token %}
                <input type='submit' value='Delete'>
            </form>
            {%endif%}
        {% endfor %}
    </div>
    </body>
</html>